<!-- <div class="container">
    <div class="row">
        <div ng-repeat='product in products | filter:test' class="col-lg-4 col-md-6 col-sm-12">
            <a href="/#!/page2/{{product.apartmentId}}">
                <blockquote>
                    <img ng-src="{{product.apartmentpic}}"style="width:130px; height: 130px;"/>
                    <p>Name : {{product.apartmentName}}</p>
                    <footer>Address : {{product.apartmentAddress}}  Phone : {{product.apartmentPhoneNo}}</footer>
                </blockquote> 
            </a>
        </div>
    </div>
</div> -->
<nav class="navbar navbar-light bg-light bar-pic    ">
    <a class="navbar-brand bar-seacrh" ><input class="form-control mr-sm-2" type="text" ng-model="test"></a>
  </nav>
<div class="row">
    <div ng-repeat='product in products | filter:test' class="col-lg-4 col-md-6 col-sm-12 card-margin">
      <div class="card back-card">
        <img class="card-img-top pic-margin" src="{{product.apartmentpic}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title ">Name : {{product.apartmentName}}</h5>
          <a href="/#!/page2/{{product.apartmentId}}" class="btn btn-primary">ดูรายละเอียด</a>
        </div>
      </div>
    </div>