<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputName">ชื่อหอพัก</span>
    </div>
    <input ng-model="inputName" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  </div>
  <p id="demo" >{{inputName}}</p>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputName">ที่อยู่</span>
    </div>
    <input ng-model="inputAdrress" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  </div>
  <button class="btn btn-outline-secondary" ng-click="submit('setName',inputName,'setAdrress',inputAdrress)" type="button">Button</button>
  <p id="demo" >{{inputAdrress}}</p>